.status.status-load-appear {
    opacity: 0;
}

.status.status-load-appear-active {
    opacity: 1;
    transition: all 1s ease-in;
}

.feature-box.feature-box-load-appear {
    opacity: 0.2;
    transform: scale(0.1);
    transition: all 5s ease-in-out 0.5s;
}

.feature-box.feature-box-load-appear-active {
    opacity: 1;
    transform: scale(1) ;
}