div.photos {
  height: 320px;
  scroll-snap-points-x: repeat(420px);
  scroll-snap-type: mandatory;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

ul.photo-list {
  list-style-type: none;
  padding: 0;
}

ul.photo-list li {
  display: inline;
}

ul.photo-list > li {
  opacity: 0.65;
  transition: opacity 250ms;
  margin-right: 10px;
  height: 550px;
}

ul.photo-list > li:hover {
  opacity: 1.0;
}

.feature-box.gallery-load-appear {
    opacity: 0.2;
    transform: scale(0.1);
    transition: all 0.15s ease-in-out 0.15s;
}

.feature-box.gallery-load-appear-active {
    opacity: 1;
    transform: scale(1) ;
}
