div.photo-gallery {
  height: 320px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

ul.photo-gallery-list {
  list-style-type: none;
  padding: 0;
}

ul.photo-gallery-list li {
  display: inline;
}

ul.photo-gallery-list > li {
  margin-right: 10px;
  height: 550px;
}

/* animation */
.photo-gallery-load-appear {
    opacity: 0.2;
    transition: all 2.5s;
}

.photo-gallery-load-appear-active {
    opacity: 1;
}

.photo-gallery-load-enter {
    opacity: 0.2;
    transition: all 0.25s ease-in;
}

.photo-gallery-load-enter-active {
    opacity: 1;
}