div.status-component {
  z-index: 1;
  font-size: 1.5em;
}

div.status {
  color: #fff;
  font-size: 1.2em;
  padding-top: 10px;
  z-index: 2;
}

p.status-date {
  color: #fff;
  font-size: 0.5em;
  padding-top: 5px;
  z-index: 2;
}

/* animation */
.status.status-load-appear {
    opacity: 0;
}

.status.status-load-appear-active {
    opacity: 1;
    transition: all 2.0s ease-in;
}
