body {
  font-family: "Vollkorn", sans-serif;
  text-align: center;
  background-image: url("/public/images/jove.jpg");
  background-size: cover;
}

div.status-container {
  height: 80px;
}

div.photos {
  height: 320px;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
}

div.home-container {
  padding: 25px;
}

ul.photo-list {
  list-style-type: none;
}

ul.photo-list li {
  display: inline;
}

div.feature-box {
  height: 400px;
  background-color: #fefefe;
  -moz-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .9), inset -1px -1px 1px rgba(0, 0, 0, .4);
  -webkit-box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .9), inset -1px -1px 1px rgba(0, 0, 0, .4);
  box-shadow: inset 1px 1px 1px rgba(255, 255, 255, .9), inset -1px -1px 1px rgba(0, 0, 0, .4);
}

ul.photo-list > li {
  opacity: 0.75;
  transition: opacity 250ms;
  margin-right: 10px;
  height: 500px;
  box-shadow: inset 10px 10px 10px rgba(255, 255, 255, .9), inset -10px -10px 10px rgba(0, 0, 0, .4);
}


ul.photo-list > li:hover {
  opacity: 1.0;
}
